.a-container{
    height: 100vh;
    display: flex;
    flex-direction: column;
    padding-top: 150px;

    
}

.a-title{
    padding-top: 10px;
    padding-left: 100px;
}

.a-left{
    flex:1;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    height: 100%;
}

.a-right{
    flex: 1;
}

/* .a-card{
    width: 60%;
    height: 50vh;
    border-radius: 30px;
    position: relative;
    overflow: hidden;
} */

.a-img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.a-title{
    font-size: 50px;
    font-weight: 600;
}

.a-sub{
    margin: 20px 0px;
}

.a-desc{
    font-weight: 300;
}

.a-wrapper{
    flex: 1;
    padding: 10px 100px;
    align-items: center;
    justify-content: center;

}

.a-school-img{
    width: 80px;
    height: 80px;
    border-radius: 20px;
}

.a-school{
    display: flex;
    align-items: center;
    margin-bottom: 15px;

}

.a-school-texts{
    width: 70%;
    margin-left: 10px;
}
.a-school-info{
    font-weight: bold;
    color: #555;
}

.a-education{
    margin-bottom: 20px;
    margin-top: 50px;
    font-weight: 600;
}

.a-icon{
    margin-right: 25px;
    width: 80px;
    height: 80px; 
}



@media screen and (max-width:480px) {
    .a{
        flex-direction: column;
        overflow-y: scroll;
        overflow-x: hidden;
        width: 75%;
        margin: auto;
        border-color: rgba(90, 90, 90, 0.068);
        border-style: solid;
        margin-top: 10px;
        border-radius: 10px;
  
   
    }

    .a-container{
        padding-top: 10px;
    }

    .a-title{
        font-size: 35px;
    }

    .a-icon{
        width: 50px;
        height: 50px;
    }
    
    .a-desc{
        font-size: 14px;
    }

    .a-wrapper{
        margin: auto;
        width: 80%;
        padding: 10px;
    }

    .a-school-img{
        width: 50px;
        height: 50px;
        border-radius: 5px;
    }
    .a-school-texts{
        font-size: 12px;

    }
    .a-title{
        padding-top: 10px;
        padding-left: 47px;
    }
}